langchain
langchain-community
langchain-text-splitters
fastembed
langchain-chroma
langchain-groq
pypdf
python-docx
docx2txt
python-dotenv
pydantic
jinja2
tiktoken
flashrank
fastapi
uvicorn
langgraph
mcp
